@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: black;
}
[data-theme='dark'],
[data-theme='dark'] body {
  color: orange;
}

/*
html,
main {
  background: #fff;
}
h2 {
  color: #475569;
}
body {
  color: #475569;
}
p {
  color: #1f2937;
}

[data-theme='dark'],
[data-theme='dark'] main {
  background: #2d3748;
}
[data-theme='dark'] h2 {
  color: #2dd4bf;
}
[data-theme='dark'] body {
  color: #fff;
}
[data-theme='dark'] p {
  color: #cbd5e1;
}
*/

@layer components {
  .disable-blur {
    image-rendering: pixelated;
  }
}
